@charset "UTF-8";
body {
  height: 100%;
  font-size: 28rpx;
  color: #333;
}
page {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  height: 100%;
  font-size: 28rpx;
  color: #333;
}
button {
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: normal;
}
button::after {
  border: 0;
}
radio {
  .wx-radio-input {
    border-radius: 50%;
    width: 38rpx;
    height: 38rpx;
  }
  .wx-radio-input.wx-radio-input-checked {
    border: 1rpx solid #e93323 !important;
    background-color: #e93323 !important;
  }
  .uni-radio-input {
    border-radius: 50%;
    width: 38rpx;
    height: 38rpx;
  }
  .uni-radio-input.uni-radio-input-checked {
    border: 1rpx solid #e93323 !important;
    background-color: #e93323 !important;
  }
}
checkbox {
  .wx-checkbox-input {
    border-radius: 50%;
    width: 38rpx;
    height: 38rpx;
  }
  .wx-checkbox-input.wx-checkbox-input-checked {
    border: 1rpx solid #e93323 !important;
    background-color: #e93323 !important;
    color: #fff !important;
  }
  .wx-checkbox-input.wx-checkbox-input-checked::before {
    font-size: 35rpx;
  }
  .uni-checkbox-input {
    border-radius: 50%;
    width: 38rpx;
    height: 38rpx;
  }
  .uni-checkbox-input.uni-checkbox-input-checked::before {
    font-size: 35rpx;
  }
}
.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  background-color: #000;
  opacity: 0.5;
}
@keyframes load {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
/* start--清除浮动--start */
.clearfix {
  zoom: 1;
}
.clearfix::after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: '';
}
/* end--清除浮动--end */
/* start--文本行数限制--start */
.h-line-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.h-line-2 {
  -webkit-line-clamp: 2;
}
.h-line-3 {
  -webkit-line-clamp: 3;
}
.h-line-4 {
  -webkit-line-clamp: 4;
}
.h-line-5 {
  -webkit-line-clamp: 5;
}
.h-line-2,
.h-line-3,
.h-line-4,
.h-line-5 {
  // display: box; // 弹性伸缩盒
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical; // 设置伸缩盒子元素排列方式
}
/* end--文本行数限制--end */
/**  加载更多  **/
.load-more {
  display: block;
  margin: 20rpx auto;
  padding-bottom: 20rpx;
  text-align: center;
  font-size: 32rpx;
  color: #666;
}
